.tab-bar {
    background-color: #F7F7F7;
    position: fixed;
    width:100%;
    bottom:0;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid #c1c1c1;
    padding: 10px 30px 5px 30px;
}

.tab-bar .tab-bar_tab{
    display: flex;
    text-align:center;
    flex-direction:column;
    text-decoration: none;
}

.tab-bar .tab-bar_tab i {
    display: block;
    margin-bottom: 5px;
    text-align:center;
    font-size: 24px;
}

.tab-bar .tab-bar_title{
    font-size:10px;
}

.tab-bar .tab-bar_tab_selected {
    color:#523737;
}